@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:300");

* {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px;
}

@font-face {
	font-family: "icon";
	src:url("../fonts/icon.eot?-l0k0a0");
	src:url("../fonts/icon.eot?#iefix-l0k0a0") format("embedded-opentype"),
		url("../fonts/icon.woff?-l0k0a0") format("woff"),
		url("../fonts/icon.ttf?-l0k0a0") format("truetype"),
		url("../fonts/icon.svg?-l0k0a0#icon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: "icon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 30px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


html, 
body {
	background: #2A2A29;
	font-family: "Roboto Slab";
	font-size: 14px;
	font-weight: normal;
	color: rgba(255, 255, 255, 0.4);
	min-height: 100%;
	-webkit-appearance: none;
	font-smoothing: antialiasing;
	-webkit-font-smoothing: antialiasing;
}

a {
	color: rgba(255, 255, 255, 0.2);
	text-decoration: none;
}


.icon-twitter:before {
	content: "\e600";
}
.icon-dribbble:before {
	content: "\e601";
}
.icon-behance:before {
	content: "\e602";
}

.icon-twitter:hover {
	color: #55ACEE;
}


.icon-dribbble:hover {
	color: #EA4C89;
}

.icon-behance:hover {
	color: #1769FF;
}


h2 {
	font-size: 36px;
	font-weight: 300;
}

h2 span {
	font-weight: 700;
}


.wrapper {
	display: block;
	margin: 0px auto;
	max-width: 820px;
	padding: 0px 20px;
}

a.menu {
	background: #000;
	width: 36px;
	height: 36px;
	display: none;
	float: right;
}

.splash {
	background: #2A2A29;
	color: rgba(255, 255, 255, 0.4);
	text-align: center;
	background-size: cover !important; 
	-moz-background-size: cover !important;
	-webkit-background-size: cover !important;
}


.splash .icons {
	width: 300px;
	height: 40px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin: -40px 0px 0px -150px;
}

.icons a {
	display: inline-block;
	margin: 0px 20px;
}

.splash .brand {
	background: url("../img/logo.svg") no-repeat center center !important;
	margin: -200px 0px 0px -180px;
	display: block;
	width: 400px;
	height: 360px;
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
}

.splash h3 {
	font-size: 20px;
	font-weight: 300;
	position: absolute;
	width: 100%;
	z-index: 1000;
	height: 50px;
	top: 50%;
	margin-top: 100px;
}

.splash h5 {
	font-size: 14px;
	font-weight: 300;
}

.splash .welcome {
	position: relative;
	overflow: hidden;
}

.splash .separator {
	border-left: 1px dashed rgba(255, 255, 255, 0.2);
	height: 80px;
	width: 1px;
	float: none;
	margin: 20px auto;
	display: none;
}

.video {
	width: 400px;
	height: 360px;
	display: block;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	margin: -200px 0px 0px -180px;

}

.empty {
	width: 400px;
	height: 360px;
	display: block;
	overflow: hidden;
	position: absolute;
	background: #FFE900;
	z-index: 99;
	top: 50%;
	left: 50%;
	margin: -200px 0px 0px -180px;

}

@media (max-width: 500px) {
	.splash .brand {
		margin: -100px 0px 0px -90px;
		width: 200px;
		height: 180px;
		
		background-size: 200px 180px !important;
	}

	.video {
		margin: -100px 0px 0px -90px;
		width: 200px;
		height: 180px;
	}

	.play {
		width: 100% !important;
		height: auto !important;
		object-fit: cover;
		top: 0px;
	}
}
