@import url("http://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic&subset=latin,cyrillic");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin,cyrillic");
@font-face {
	font-family: "Proxima Nova";
	src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("http://static.tumblr.com/aezi88u/IFxmt2vdt/proximanova-bold-webfont.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: local("Proxima Nova Bold Italic"), local("ProximaNova-Bold-Italic"), url("http://static.tumblr.com/aezi88u/gtDmt2ved/proximanova-boldit-webfont.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Proxima Nova";
	src: local("Proxima Nova"), local("ProximaNova"), url("http://static.tumblr.com/aezi88u/6jxmt2v0z/proximanova-reg-webfont.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: local("Proxima Nova Italic"), local("ProximaNova-Italic"), url("http://static.tumblr.com/aezi88u/E3omt2vd8/proximanova-regit-webfont.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Proxima Nova";
	src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("http://static.tumblr.com/aezi88u/0dmmt2vez/proximanova-light-webfont.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}


* {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	border: 0px;
}

body,
html {
	background: #fff;
	color: #444;
	font-family: "Proxima Nova";

	font-smoothing: antialiasing;
	-webkit-font-smoothing: antialiasing;
	-webkit-appearance: none;
	font-size: 12px;
}


/* CONSTRUCTOR */
section,
header {
	display: block;
}

.wrapper {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	max-width: 600px;
	display: block;
	margin: 0px auto;
	padding: 0px 20px;
}

/* TYPOGRAPHY */
h1 {
	font-size: 52px;
}

h2 {
	font-size: 46px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 12px;
}

a,
.brand {
	color: #1b9df7;
	text-decoration: none;
	transition: 			color .4s 0s ease,
							border .5s 0s ease-out,
							background-color .4s 0s linear,
							opacity .3s 0s ease;
	-o-transition: 			color .4s 0s ease,
							border .5s 0s ease-out,
							background-color .4s 0s linear,
							opacity .3s 0s ease;
	-moz-transition: 		color .4s 0s ease,
							border .5s 0s ease-out,
							background-color .4s 0s linear,
							opacity .3s 0s ease;
	-webkit-transition: 	color .4s 0s ease,
							border .5s 0s ease-out,
							background-color .4s 0s linear,
							opacity .3s 0s ease;
}

a:hover {
	color: #444;
}

img {
	-webkit-filter: grayscale(100%) contrast(90%) brightness(10%);
	-moz-filter: grayscale(100%) contrast(90%) brightness(10%);
	-o-filter: grayscale(100%) contrast(90%) brightness(10%);
	filter: grayscale(100%) contrast(90%) brightness(10%);
}

img:hover {}

/* HEADER */
header {padding: 0px 0px;}
header ul.menu {
	list-style-type: none;
	display: block;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 0px;
	text-align: center;
}

header ul.menu li {
	display: inline-block;
	margin: 0px 1%;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
}

header ul.menu li a {
	color: #444;
}

header ul.menu li a:hover {
	color: #1b9df7;
}


header .brand {
	display: block;
	margin: 60px auto;
	text-align: center;
	width: 70px;
	height: 70px;
	border: 5px solid #1b9df7;
	padding: 13px;
}

header .brand:hover {
	border: 5px solid #1e6291;	
}

header .brand a {
	display: inline-block;
	background: url("images/h_logo.svg") no-repeat;
	width: 70px;
	height: 70px;
}

/* BLOG */
section#blog {margin: 40px 0px;}
article {
	margin-bottom: 80px;
}

article:last-child {
	margin-bottom: 0px;
}
article img {
	display: block;
	width: 100%;
	margin: 10px 0px;
	padding: 0px;
	outline: 0px;
}

article > img {
	margin: 0px 0px 10px 0px;
}

article figcaption {
	text-align: right;
	letter-spacing: 2px;
	display: inline-block;
	float: right;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 0px 0px 10px 0px;
	color: #999;
	margin: 0px 0px 10px 0px;
	text-transform: uppercase;
	font-size: 9px;
}

article.post p {
	font-family: "Tinos";
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;
	text-indent: 20px;
}

article.text > p:last-child {
	margin-bottom: 0px;
}

article h4 {
	display: block;
	font-family: "Roboto Slab";
	font-weight: 300;
	text-align: center;
	margin: 0px 0px 40px 0px;
}

article h4 a {
	color: #444;
}

article h4 a:hover {
	color: #1b9df7;
}

article:first-child h4 {
	margin-top: 40px;
	margin-bottom: 20px;
}

time {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	padding: 10px 0px;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	color: #999;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 2px;
	overflow: hidden;
}

time span {
	display: inline-block;
}

time span.author {
	float: right;
}

time span.publish {
	float: left;
}

article .end {
	background: url("images/p_end.svg") no-repeat center top;
	background-size: 20px 20px;
	height: 60px;
	text-align: center;
	font-weight: 300;
	letter-spacing: 2px;
	color: #999;
	line-height: 80px;
	width: 100%;
	float: left;
	margin-bottom: 80px;
}

/* QUOTE */
article figure {
	background: #e1e1e1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-style: italic;
	padding: 20px;
	margin-bottom: 10px;
}

article figure p {
	margin-bottom: 0px !important;
}

article figure img {
	margin: 0px;
}

article.quote figcaption {
	border: 0px;
}

/* FOOTER */
footer {
	color: #bbb;
	display: block;
	margin-top: 60px;
	float: left;
	width: 100%;
	background: #f5f5f5;
	border-top: 1px solid #e1e1e1;
}

footer a {
	color: #444;
}

footer a:hover {
	color: #1b9df7;
}

footer .wrapper {
	padding: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
}

footer .copy {
	display: inline-block;
	float: right;
}

footer ul.foot-menu {
	display: block;
	float: left;
	list-style-type: none;
	width: 50%;
}

footer ul.foot-menu li {
	display: inline-block;
	float: left;
	margin-left: 4%;
}